.AdvertDetail-card {
  border-right: 3px rgb(75, 74, 72) solid;
  border-left: 3px rgb(75, 74, 72) solid;
  display: grid;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-areas: 
    "photo data description social"
    
}

.AdvertDetail-photo {
  grid-area: photo;
  margin: 20px;
  
}

.AdvertDetail-general-info {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: left;
  font-size: 1.5rem;
  
}
.AdvertDetail-general-info > p {
  margin: 0.3em;
}

.AdvertDetail-description {
  grid-area: description;
  max-width: 300px;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  justify-self: center;
  align-content: center;
}

.edit-details{
  grid-area: social;
  display: flex;
  flex-direction: column;
}

img {
  width: 350px;
}

@media (max-width:1075px) {
  .AdvertDetail-card  {
      grid-template-columns: 4fr;
      grid-template-areas:
        "photo"
        "data"
        "description"
        "social"
        
    }
}

@media (max-width: 800px) {
    .AdvertDetail-card  {
      grid-template-columns: 4fr;
      grid-template-areas:
        "photo"
        "data"
        "description"
        "social"
        
    }
  }