.AdvertDetail-card {
  border: 3px rgb(75, 74, 72) solid;
  display: grid;
  grid-template-areas:
    "photo title title state state"
    "photo price price user user"
    "photo category category pgi pgi"
    "photo description description description description"
    "photo description description description description";
  background-color: rgb(255, 255, 255);
}

.AdvertDetail-photo {
  grid-area: photo;
  box-sizing: border-box;
  margin:20px;
  
}

.AdvertDetail-title {
  grid-area: title;
}

.AdvertDetail-price {
  grid-area: price;
}

.AdvertDetail-state {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-user {
  grid-area: user;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-PGI {
  grid-area: pgi;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-category {
  grid-area: category;
}

.AdvertDetail-description {
  grid-area: description;
  background-color: rgb(212, 191, 237);
}
img {
  width: 350px;
}