.advertsPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: rgb(230, 225, 225);
}

.advertsPage-item {
  border: 3px rgb(75, 74, 72) solid;
  border-radius: 15%;
  padding: 1em;
  margin: 3em;
  flex-direction: row;
  box-shadow: 1px 2px rgb(104, 102, 102);
  background-color: rgb(206, 203, 203);
}
