.AdvertDetail-card {
  border-right: 3px rgb(75, 74, 72) solid;
  border-left: 3px rgb(75, 74, 72) solid;
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
}

.AdvertDetail-photo {
  grid-area: photo;
  margin: 20px;
}

.AdvertDetail-general-info {
  font-size: 1em;
  display: flex;
  flex-direction: column;
}
.AdvertDetail-general-info > p {
  margin: 0.3em;
}

.AdvertDetail-title {
  grid-area: title;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-price {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-state {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-user {
  grid-area: user;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-PGI {
  grid-area: pgi;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-category {
  grid-area: category;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.AdvertDetail-description {
  grid-area: description;
  border: 3px double gainsboro;
  max-height: 25vh;
  overflow: scroll;
}

.AdvertDetail-SocialShare {
  display: flex;
  flex-direction: column;
}

img {
  width: 350px;
}
