.fav-button {
  background-color: #ff0000;
}

.nofav-button {
  background-color: #808080;
}

:is(.fav-button, .nofav-button):hover{
  background-color: #d1cfcf;
}

.fav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}