.signin-up-form, .new-ad-form  {
    background-color: var(--background-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 500px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    background-color: var(--background-color);
    box-shadow: 0 2px 6px var(--black-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center ;
    
}

label {
    font-size: 1.3rem;
    margin: 10px;
    
}

input {
    padding: 10px 30px;
    margin: 8px 0;
    border-radius: 5px;
    border-color: var(--details-dark);
    cursor: pointer;
    font-size: 1.2rem;
    
}

input::placeholder {
    font-size: 1..2rem;
    
}
.button-cancel, .button-sign, .button-log, .button-post{
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: var(--details-light-blue);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--details-black);
    margin-top: 20px;
    
}

.button-sign[disabled], .button-log[disabled],.button-post[disabled] {
    pointer-events: none; 
    background-color: var(--disabled);
}

.button-log:hover,.button-post:hover,.button-sign:hover {
    background-color: var(--green-bttn);
    transition: background-color .3s linear;
}

.button-cancel:hover{
    background-color: var(--cancel);
    transition: background-color .3s linear;
    
}

