:root {
  font-size: 16px;
  font-weight: 200;
  --background-color: #242222;
  --header-footer: #ffa200;
  --details-dark: #294e6b;
  --details-light-blue: linear-gradient(90deg, #57cbf7 0%, #cb86ff 100%);
  --details-white: #ffffff;
  --details-black: #000000;
  --disabled: #8f9091;
  --hover: linear-gradient(90deg, #57cbf7 0%, #deb1ff 100%);
  --neon-title: #ed95ffee;
  --shadow: #c7b2dab6;

  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--background-color);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-title {
  margin-left: 30px;
  text-decoration: none;
  color: var(--details-white);
}

.nav-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

body {
  text-align: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.nav-link {
  margin-left: 10px;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--details-white);
  background: var(--background-color);
  padding: 5px;
}

.nav-link:hover {
  color: var(--shadow);
}

li {
  list-style-type: none;
}

button:disabled {
  color: var(--disabled);
  pointer-events: none;
  background-color: var(--disabled);
}

footer {
  padding: 0.5rem;
  margin-top: auto;
  text-align: center;
  background-color: var(--background-color);
  color: var(--details-white);
}

.linkDetail {
  color: var(--details-black);
  text-decoration: none;
}
.uwu-404 {
  width: 500px;
}
.message-404 {
  font-size: 4rem;
}

.home-link {
  margin-top: 20px;
  color: var(--details-black);
  font-size: 2rem;
}
