:root {
  font-size: 16px;
  font-weight: 200;
  --background-color: #242222;
  --header-footer: #ffa200;
  --details-dark: #294e6b;
  --details-light-blue: linear-gradient(90deg, #57cbf7 0%, #cb86ff 100%);
  --details-white: #ffffff;
  --details-black: #000000;
  --disabled: #bfc1c2;
  --hover: linear-gradient(90deg, #57cbf7 0%, #deb1ff 100%);
  --shadow: #e5cdfc;

  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--background-color);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-buttons {
  display: flex;
  align-items: center;
}

body {
  text-align: center;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.nav-link {
  border-radius: 30%;
  margin-left: 10px;
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--details-white);
}

.nav-link:hover {
  color: var(--shadow);
}

li {
  list-style-type: none;
}
.confirmation-message {
  font-size: 1.5rem;
}
.confirmation {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  background: var(--shadow);
  margin-top: 100px;
  min-width: 250px;
  position: fixed;
  top: 2%;
  left: 60%;
  right: 0;
  bottom: 0;
}

button {
  cursor: pointer;
  background-color: var(--button);
  padding: 10px;
  height: 45px;
  border: none;
  border-radius: 10%;
  margin-left: 20px;
  font-weight: 400;
  font-size: 1rem;
}

button:hover {
  background-color: var(--button-hover);
  transition: background-color 0.3s linear;
}

footer {
  padding: 0.5rem;
  margin-top: auto;
  text-align: center;
  background-color: var(--background-color);
  color: var(--details-white);
}

.linkDetail {
  color: #000000;
  text-decoration: none;
}
