.nav-profile {
    background-color: var(--background-color);
    display: flex;
    justify-content: flex-end;
}

.nav-user {
    margin-right: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--details-white);
    background: var(--background-color);
  }

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    font-size: 2rem;
    word-break: break-all;
    color: white;
    background: rgb(22, 184, 243);
    background: linear-gradient(149deg, rgba(22, 184, 243, 1) 0%, rgba(108, 231, 185, 1) 65%);
    border-radius: 50%;
    padding: 8px;
    font-weight: 600;
}
  
figure span {
    text-align: center;

}

.profile-data {
    text-align: left;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "sidebar my-adverts"
}

@media (max-width: 500px) {
    .profile-data {
      grid-template-columns: 4fr;
      grid-template-areas:
        "content"
        "sidebar"
        
    }
  }